<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet">
    <title>Consultas Agendadas</title>
</head>
<body>
    <div class="container mx-auto mt-6 p-6">
        <h2 class="text-xl font-bold text-[#2C5545] mb-4">Consultas Agendadas</h2>
        <% if (consultas.length === 0) { %>
            <div class="text-center text-[#465C47] mt-8">
                <p class="text-lg font-semibold">Nenhuma consulta agendada no momento.</p>
            </div>
        <% } else { %>
            <div class="overflow-x-auto bg-white shadow-md rounded-lg">
                <table class="min-w-full text-left border-collapse">
                    <thead class="bg-[#E5E0D5] text-[#465C47]">
                        <tr>
                            <th class="py-3 px-4 text-center">Nome do Paciente</th>
                            <th class="py-3 px-4 text-center">Data da Consulta</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <% consultas.forEach((consulta) => { %>
                            <tr>
                                <td class="py-3 px-4 text-center"><%= consulta.nome_paciente %></td>
                                <td class="py-3 px-4 text-center"><%= new Date(consulta.data_consulta).toLocaleDateString() %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div>
</body>
</html>