<div class="content flex w-full flex-col justify-between h-full items-center">
    <div class="main">
      <div class="tittle text-center text-4xl font-extrabold mb-2">
        O Melhor Cuidado para os Pequenos
      </div>
      <div class="subtittle text-center text-xl font-normal">
        Facilitando o agendamento de consultas pediátricas de forma rápida e segura.
      </div>

    </div>
    <div class="button">
      <!-- Botão ajustado para largura 52 -->
      <button
        class="overflow-hidden w-52 p-2 h-12 bg-white text-fontColor text-center border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group"
      >
        Comece Agora
        <span
          class="absolute w-56 h-32 -top-12 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
        ></span>
        <span
          class="absolute w-56 h-32 -top-12 -left-2 bg-[#899289] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
        ></span>
        <span
          class="absolute w-56 h-32 -top-12 -left-2 bg-fontColor rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
        ></span>
        <span
          class="group-hover:opacity-100 text-white text-center group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-12 z-10"
        >
          Clique aqui!
        </span>
      </button>

    </div>
  </div>
