<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="./stylesheets/output.css" rel="stylesheet">
</head>
<body class="w-full h-full m-0 p-0 box-border bg-pattern font-sans text-fontColor">

  <!-- Sessão de Cabeçalho (Navbar) -->
  <section class="navbar w-full bg-pattern shadow-shape p-6 box-border relative z-10">
    <div class="content w-full flex flex-row justify-between items-center">
      <div class="logo font-black text-2xl">
        PediCare+
      </div>
      <div class="links">
        <ul class="flex flex-row space-x-5 text-lg flex-nowrap">
          <li class="relative group">
            <a href="#" class="text-lg">Funcionalidades</a>
            <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
          </li>
          <li class="relative group">
            <a href="#" class="text-lg">Sobre</a>
            <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
          </li>
          <li class="relative group">
            <a href="#" class="text-lg">Contato</a>
            <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
          </li>
          <li class="relative group">
            <a href="#" class="text-lg">Entrar</a>
            <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
  <!-- Sessão de Header -->
  <section class="slogan bg-secondary w-full text-white h-80 px-7 py-9">
    <div class="content flex w-full flex-col justify-between h-full items-center">
      <div class="main">
        <div class="tittle text-center text-4xl font-extrabold mb-2">
          O Melhor Cuidado para os Pequenos
        </div>
        <div class="subtittle text-center text-xl font-normal">
          Facilitando o agendamento de consultas pediátricas de forma rápida e segura.
        </div>

      </div>
      <div class="button">
        <!-- Botão ajustado para largura 52 -->
        <button
          class="overflow-hidden w-52 p-2 h-12 bg-white text-fontColor text-center border-none rounded-md text-xl font-bold cursor-pointer relative z-10 group"
        >
          Comece Agora
          <span
            class="absolute w-56 h-32 -top-12 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
          ></span>
          <span
            class="absolute w-56 h-32 -top-12 -left-2 bg-[#899289] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
          ></span>
          <span
            class="absolute w-56 h-32 -top-12 -left-2 bg-fontColor rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
          ></span>
          <span
            class="group-hover:opacity-100 text-white text-center group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-12 z-10"
          >
            Clique aqui!
          </span>
        </button>

      </div>
    </div>
  </section>

  <section class="servicos w-full h-96 py-8 px-36">
    <div class="tittle text-center text-fontColor text-4xl font-extrabold mb-8">
      Nossos Serviços para Você
    </div>

    <div class="cards w-full flex flex-row space-x-4 p-2">
      <!-- CARD1 -->
      <div class="card1 flex flex-col w-1/3 justify-center items-center py-1 px-6">
        <img src="./images/agendamento.png" alt="Icone de Calendário" class="h-16 w-16 bg-white p-2 rounded-xl shadow-shape mb-2">

        <div class="tittle text-lg font-bold mb-1">
          Agendamento Simplificado
        </div>
        <div class="texto text-center font-medium">
          Facilite o agendamento de consultas pediátricas para seus filhos com poucos cliques.
        </div>
      </div>

       <!-- CARD2 -->
      <div class="card2 flex flex-col w-1/3 justify-center items-center py-1 px-8">
        <img src="./images/prontuario.png" alt="Icone de Calendário" class="h-16 w-16 bg-white p-2 rounded-xl shadow-shape mb-2">

        <div class="tittle text-lg font-bold mb-1">
          Gerenciamento de Prontuários
        </div>
        <div class="texto text-center font-medium">
          Acompanhe o histórico de consultas, diagnósticos e tratamentos de forma segura.
        </div>
      </div>

       <!-- CARD3 -->
      <div class="card3 flex flex-col w-1/3 justify-center items-center py-1 px-8">
        <img src="./images/lembrete.png" alt="Icone de Calendário" class="h-16 w-16 bg-white p-2 rounded-xl shadow-shape mb-2">

        <div class="tittle text-lg font-bold mb-1">
          Notificações e Lembretes
        </div>
        <div class="texto text-center font-medium">
          Receba notificações por e-mail e SMS para não perder nenhum agendamento.
        </div>
      </div>

    </div>

    <div class="divider w-full border border-secondary mt-8"></div>
  </section>

  <section class="h-fit flex items-center justify-center bg-pattern">
    <div class="content flex flex-row w-full justify-between items-center">
  
      <!-- Mensagem à esquerda -->
      <div class="mensagem flex justify-center items-center w-1/2 text-fontColor font-extrabold text-6xl px-28 text-center">
        A saúde das suas crianças é nossa prioridade
      </div>
  
      <!-- Imagens sobrepostas à direita -->
      <div class="imagem relative flex justify-center w-1/2 p-0">
        <img src="./images/bg1.png" alt="Doutora" class="absolute z-0 w-full h-full ">

        <!-- Background Shape -->
         <div class="absolute flex justify-center items-center z-10 w-2/4 h-full">
            <img src="./images/bg2.png" alt="Background Shape" class="h-3/4">

         </div>
  
        <!-- Doutora -->
        <img src="./images/doutora.png" alt="Doutora" class="relative z-20 w-1/2">
        
      </div>
  
    </div>
  </section>
  

</body>
</html>