<div class="content flex flex-row w-full justify-between items-center py-3">
  
    <!-- Mensagem à esquerda -->
    <div class="mensagem flex justify-center items-center w-1/2 text-fontColor font-extrabold text-6xl px-28 text-center">
      A saúde das suas crianças é nossa prioridade
    </div>

    <!-- Imagens sobrepostas à direita -->
    <div class="imagem relative flex justify-center w-1/2">
      <img src="./images/bg1.png" alt="Doutora" class="absolute z-0 w-full h-full ">

      <!-- Background Shape -->
       <div class="absolute flex justify-center items-center z-10 w-2/4 h-full">
          <img src="./images/bg2.png" alt="Background Shape" class="h-3/4">

       </div>

      <!-- Doutora -->
      <img src="./images/doutora.png" alt="Doutora" class="relative z-20 w-1/2">
      
    </div>

  </div>
  
