<div class="container mx-auto">
    <!-- Título da Seção -->
    <h2 class="text-4xl font-extrabold text-center text-fontColor mb-8">Sobre o PediCare+</h2>

    <!-- Conteúdo da Seção -->
    <div class="text-lg text-fontColor leading-relaxed">
      <p class="mb-6">
        O <strong>PediCare+</strong> é um hospital pediátrico dedicado exclusivamente ao cuidado da saúde de crianças, oferecendo um ambiente especializado que atende às necessidades únicas dos pequenos pacientes. Fundado há mais de uma década, nossa missão é proporcionar um cuidado humanizado, onde as crianças se sintam confortáveis e seguras durante o tratamento.
      </p>

      <p class="mb-6">
        Ao longo dos anos, o <strong>PediCare+</strong> se destacou pela sua abordagem inovadora e pela utilização de tecnologias avançadas, tornando-se um referencial em saúde pediátrica na região. O hospital expandiu suas especialidades para oferecer cuidados abrangentes, desde emergências até o tratamento de doenças crônicas.
      </p>

      <p class="mb-6">
        Além disso, o <strong>PediCare+</strong> se compromete com a educação das famílias, oferecendo workshops sobre saúde infantil, nutrição e desenvolvimento. Acreditamos que o envolvimento da família é essencial para a recuperação e o bem-estar das crianças.
      </p>

      <p class="mb-6">
        Hoje, somos reconhecidos por uma equipe dedicada de profissionais que trabalham em conjunto para garantir o melhor atendimento possível a cada criança. O <strong>PediCare+</strong> continua a ser um apoio integral na jornada de saúde de cada paciente, com um compromisso constante com a excelência, inovação e cuidado humanizado.
      </p>
    </div>
  </div>