<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheets/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <title>Agenda Semanal</title>
</head>
<style>
    input.field {
        font-family: 'Asap', sans-serif;
    }
</style>
<body>
    <div class="bg-[url('/images/fundo-4.png')] bg-cover bg-center h-screen">
        <div class="flex flex-wrap justify-center items-center gap-10">
            <div class="flex flex-col items-center gap-10">
                <div class="bg-[#F0E8D9] shadow-md rounded-xl p-6 w-80 hover:shadow-lg hover:bg-cream-light transition mt-32">
                    <h3 class=" font-semibold text-[#465C47] text-center">Segunda-Feira</h3>
                    <h3 class="text-center mb-4 text-sm">08:00 - 18:00</h3>    
                   <div class="bg-white rounded-xl p-6 shadow-lg">
                    <h3 class="text-center border-b border-gray-300">Dr. Marcelo - Pediatria Geral</h3>
                    <h3 class="text-center border-b border-gray-300">Dr. Marcos - Odontologia</h3>
                    <h3 class="text-center border-b border-gray-300">Dra. Vera - Cardiologia </h3>
                    <h3 class="text-center border-b border-gray-300">Dr. João Paulo - Ortopedista</h3>
                   </div>    
                </div>                
            </div>
            <div class="bg-[#F0E8D9] shadow-md rounded-xl p-6 w-80 hover:shadow-lg hover:bg-cream-light transition mt-32">
                <h3 class=" font-semibold text-[#465C47] text-center">Terça-Feira</h3>
                <h3 class="text-center mb-4 text-sm">08:00 - 18:00</h3>
               <div class="bg-white rounded-xl p-6 shadow-lg">
                <h3 class="text-center border-b border-gray-300">Dr. Marcos - Odontologia</h3>
                <h3 class="text-center border-b border-gray-300">Dr. Otávio - Dermatologia</h3>
                <h3 class="text-center border-b border-gray-300">Dr. João Paulo - Ortopedista </h3>
                <h3 class="text-center border-b border-gray-300">Dra. Vera - Cardiologia </h3>
               </div>
            </div>
            <div class="bg-[#F0E8D9] shadow-md rounded-xl p-6 w-80 hover:shadow-lg hover:bg-cream-light transition mt-32">
                <h3 class=" font-semibold text-[#465C47] text-center">Quarta-Feira</h3>
                <h3 class="text-center mb-4 text-sm">08:00 - 18:00</h3>
               <div class="bg-white rounded-xl p-6 shadow-lg">
                <h3 class="text-center border-b border-gray-300">Dra. Helena - Neurologia</h3>
                <h3 class="text-center border-b border-gray-300">Dr. Marcos - Odontologia</h3>
                <h3 class="text-center border-b border-gray-300">Dr. Marcelo - Pediatria geral</h3>
                <h3 class="text-center border-b border-gray-300">Dr. Angelo - Endocrinologia</h3>
               </div>
            </div>              
        </div>
        <div class="flex flex-wrap justify-center items-center gap-10">
        <div class="bg-[#F0E8D9] shadow-md rounded-xl p-6 w-80 hover:shadow-lg hover:bg-cream-light transition mt-10">
            <h3 class=" font-semibold text-[#465C47] text-center">Quinta-Feira</h3>
            <h3 class="text-center mb-4 text-sm">08:00 - 18:00</h3>
           <div class="bg-white rounded-xl p-6 shadow-lg">
            <h3 class="text-center border-b border-gray-300">Dr. Marcelo - Pediatria Geral</h3>
            <h3 class="text-center border-b border-gray-300">Dra. Helena - Neurologia</h3>
            <h3 class="text-center border-b border-gray-300">Dr. Paulo - Ortopedista</h3>
            <h3 class="text-center border-b border-gray-300">Dr. Angelo - Endocrinologia</h3>
           </div>
    </div>
    <div class="bg-[#F0E8D9] shadow-md rounded-xl p-6 w-80 hover:shadow-lg hover:bg-cream-light transition mt-10">
        <h3 class=" font-semibold text-[#465C47] text-center">Sexta-Feira</h3>
        <h3 class="text-center mb-4 text-sm">08:00 - 18:00</h3>
       <div class="bg-white rounded-xl p-6 shadow-lg">
        <h3 class="text-center border-b border-gray-300">Dra. Luiza - Oftalmologia</h3>
        <h3 class="text-center border-b border-gray-300">Dr. Marcos - Odontologia</h3>
        <h3 class="text-center border-b border-gray-300">Dra. Vera - Cardiologia </h3>
        <h3 class="text-center border-b border-gray-300">Dr. Angelo - Endocrinologia</h3>
       </div>
    </div>
    <div class="bg-[#F0E8D9] shadow-md rounded-xl p-6 w-80 hover:shadow-lg hover:bg-cream-light transition mt-10">
        <h3 class=" font-semibold text-[#465C47] text-center">Sábado</h3>
        <h3 class="text-center mb-4 text-sm">08:00 - 12:00</h3>
       <div class="bg-white rounded-xl p-6 shadow-lg">
        <h3 class="text-center border-b border-gray-300">Dr. Marcelo - Pediatria Geral</h3>
        <h3 class="text-center border-b border-gray-300">Dr. Otávio - Dermatologia</h3>
        <h3 class="text-center border-b border-gray-300">Dra. Luiza - Oftalmologia</h3>
        <h3 class="text-center border-b border-gray-300">Dr. Marcos - Odontologia</h3>
       </div>
    </div>
</body>
</html>