<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./stylesheets/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <title>Histórico Médico</title>
</head>
<style>
    input.field {
        font-family: 'Asap', sans-serif;
    }
</style>
<body>
    <header class="bg-[#F0E8D9] h-14 shadow-xl flex items-center">
        <img src="/images/PediCare+.png" alt="logo" class="w-32 h-32 object-contain ml-5">
    </header>
    <div class="bg-[#D0C7B6] bg-cover bg-center h-screen flex justify-center items-center gap-10">
        <div class="bg-[#F0E8D9] rounded-xl w-80 p-8 text-[#465C47] font-extrabold text-center text-lg">
            <a><img src="/images/img-exame.png" alt="exame" class="mb-4 w-80 h-52 rounded-xl"></a>
            Ver resultados de exames
        </div>
        <div class="bg-[#F0E8D9] rounded-xl w-80 p-8 text-[#465C47] font-extrabold text-center text-lg">
            <a><img src="/images/img-prontuario.png" alt="exame" class="mb-4 w-80 h-52 rounded-xl"></a>
            Consultar receitas e atestados
        </div>
        <div class="bg-[#F0E8D9] rounded-xl w-80 p-8 text-[#465C47] font-extrabold text-center text-lg">
            <a><img src="/images/img-consulta.png" alt="exame" class="mb-4 w-80 h-52 rounded-xl" ></a>
            Visualizar consultas
        </div>
    </div>
</body>
</html>
