<!-- Sessão de Cabeçalho (Navbar) -->
<div class="content w-full flex flex-row justify-between items-center">
    <div class="logo font-black text-2xl">
    PediCare+
    </div>
    <div class="links">
    <ul class="flex flex-row space-x-5 text-lg flex-nowrap">
        <li class="relative group">
        <a href="#funcionalidades" class="text-lg">Funcionalidades</a>
        <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
        </li>
        <li class="relative group">
        <a href="#sobre" class="text-lg">Sobre</a>
        <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
        </li>
        <li class="relative group">
        <a href="#contato" class="text-lg">Contato</a>
        <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
        </li>
        <li class="relative group">
        <a href="/login" class="text-lg">Entrar</a>
        <span class="block absolute left-0 bottom-0 w-0 h-[2px] bg-fontColor transition-all duration-300 group-hover:w-full"></span>
        </li>
    </ul>
    </div>
</div>
