<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <title>Home Administrador - PediCare+</title>
</head>
<style>
    .input-field {
        font-family: 'Asap', sans-serif;
    }
</style>
<body>
    <script src="/javascripts/validaToken.js"></script>

        <div class="bg-[url('/images/home-adm.png')] bg-cover bg-center h-screen">
            <img src="/images/logo-branco.png" alt="logo" class="w-32 h-32 object-contain ml-10"> 
            <div class="flex flex-wrap justify-center items-center gap-10">
            <div class="flex flex-col items-center gap-10">
                <a 
                    href="/home/gerenciar_medicos" 
                    class="bg-[#F0E8D9] shadow-md rounded-xl p-12 text-center w-80 hover:shadow-lg hover:bg-cream-light transition mt-32">
                    <h3 class="text-xl font-semibold text-[#465C47] mb-2">Gerenciar Médico</h3>
                    <p class="text-gray-500">Registrar dados do médico</p>
                </a>
                <a 
                href="/consultar-historico" 
                class="bg-[#F0E8D9] shadow-md rounded-xl p-12 text-center w-80 hover:shadow-lg hover:bg-cream-light transition">
                <h3 class="text-xl font-semibold text-[#465C47] mb-2">Cadastrar Paciente</h3>
                <p class="text-gray-500">Registrar dados do paciente</p>
            </a>
            </div>
            <div class="flex flex-col items-center gap-10">
                <a 
                    href="/home/gerenciar_funcionarios" 
                    class="bg-[#F0E8D9] shadow-md rounded-xl p-12 text-center w-80 hover:shadow-lg hover:bg-cream-light transition mt-32">
                    <h3 class="text-xl font-semibold text-[#465C47] mb-2">Gerenciar Funcionário</h3>
                    <p class="text-gray-500">Registrar dados do funcionário</p>
                </a>
                <a 
                href="/home/gerenciar_user" 
                class="bg-[#F0E8D9] shadow-md rounded-lg p-12 text-center w-80 hover:shadow-lg hover:bg-cream-light transition">
                <h3 class="text-xl font-semibold text-[#465C47] mb-2">Gerenciar Usuários</h3>
                <p class="text-gray-500">Cadastrar acesso ao sistema</p>
            </a>
            </div>
        </div>
        </div>
</body>
</html>